.env
*.env
*.pyc
*config.php

*github_config.php

*.pem

livekit.yaml
.cloudflared

.venv
__pycache__

/webpage/version-info.json
/webpage/update-info.md

/webpage/uploads/*
!/webpage/uploads/*/
/webpage/uploads/*/*
!/webpage/uploads/*/*/
/webpage/uploads/*/*/*
!/webpage/uploads/*/*/*/
/webpage/uploads/*/*/*/*

!/webpage/uploads/**/.htaccess

!/webpage/uploads/profile-pictures/default-profile.png

vendor