RewriteEngine On
AcceptPathInfo On

# Redirect HTTP to HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
SetEnvIf X-Forwarded-Proto "https" HTTPS=on
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^bot/([a-zA-Z0-9\-]+)$ /developer/bot/$1/information [R=301,L]
RewriteRule ^bot/([a-zA-Z0-9\-]+)/information$ bot/information.php?bot_id=$1 [QSA,L]

# Rewrite URLs for .html files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Rewrite URLs for .php files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

DirectoryIndex portal.php

# --- NO CACHING FOR EVERYTHING ---
<IfModule mod_headers.c>
    Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

# Set favicon
<Files "favicon.ico">
    Header set Content-Type "image/x-icon"
</Files>

<Files "config.php">
    Order Allow,Deny
    Deny from all
    Require user root
</Files>

Options -Indexes