@keyframes pop-in {
    0%   { transform: scale(0.9); }
    100% { transform: scale(1); }
}

@keyframes pop-in-image-viewer {
    0%   { transform: translate(-50%) scale(0.9); }
    100% { transform: translate(-50%) scale(1); }
}

@keyframes fade-in-unsaved-changes {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}